@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
.footer__wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 107px;
}

.footer__list {
  display: flex;
  align-items: center;
}

.footer__item:not(:last-child) {
  margin-right: 15px;
}

.footer__nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 33px;
  border-bottom: 1px solid #D9D9D9;
}

.footer__nav-list {
  display: flex;
  margin-bottom: 33px;
}

.footer__nav-item:not(:last-child) {
  margin-right: 30px;
}

.footer__up {
  display: flex;
  align-items: center;
}

.footer__nav-link {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 142.5%;
  color: #000000;
}

.footer__up-link {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 142.5%;
  color: #000000;
}

.footer__up-img {
  margin-left: 9px;
}

.footer__last {
  display: flex;
  justify-content: space-between;
}

.footer__last-link {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 142.5%;
  color: #000000;
}

.footer__last-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 142.5%;
  color: rgba(0, 0, 0, 0.3);
}

.footer__last-link {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 142.5%;
  color: #000000;
}

.footer__last-link:not(:last-child) {
  margin-right: 46px;
}

.footer__last {
  padding-bottom: 35px;
}

.blog {
  margin-bottom: 125px;
}

.blog__wrapper {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}

.blog__wrap {
  display: flex;
  justify-content: space-between;
}

.blog__title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  color: #000000;
}

.blog__img {
  margin-top: 38px;
  margin-bottom: 17px;
}

.blog__title-link {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 129.9%;
  color: #0075ff;
}

.blog__link-items {
  display: flex;
  align-items: center;
  margin-top: 12px;
}

.blog__icon {
  margin-left: 9px;
}

.blog__name {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 12px;
}

.col-3 {
  width: 24%;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.header__content {
  margin-top: 38px;
  padding-bottom: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__list {
  display: flex;
  align-items: center;
}

.header__list :last-child {
  margin-right: 0;
}

.header__item {
  margin-right: 43px;
}

.header__item a {
  display: inline-block;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 34px;
}

.header-activ {
  border: 1px solid #0075ff;
  box-sizing: border-box;
  border-radius: 70px;
  padding: 14px 32px;
}

body {
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  font-size: 28px;
}
