@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
.salary__title {
  display: flex;
  justify-content: space-between;
}

.salary__logo {
  width: 100px;
  height: 24px;
}

.salary__vacancy {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.salary__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #DCDCDC;
  border-radius: 10px;
  margin-top: 37px;
}

.salary__name-first {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 68px;
  color: #000000;
}

.salary__name {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 140.9%;
  color: #000000;
  padding-left: 33px;
}

.salary__vacancy {
  margin-top: 26px;
}

.salary__btn {
  background: #0075FF;
  box-shadow: 0px 4px 17px 6px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  padding: 31px;
  height: 86px;
  width: 85px;
}

.salary__big-btn {
  width: 100%;
  padding: 33px 510px;
  margin-top: 19px;
  background: #F7F7F7;
  border-radius: 10px;
}

.salary__link {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.faculty__title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 68px;
  color: #000000;
  margin-bottom: 22px;
}

.faculty__title-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #DCDCDC;
  padding-bottom: 54px;
}

.faculty__list:not(:last-child) {
  display: flex;
  align-items: center;
}

.faculty__link {
  background-color: rgba(67, 197, 158, 0.11);
  border-radius: 24px;
  padding: 12px 20px 14px 21px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #43C59E;
  margin-right: 23px;
}

.faculty__text-wrap {
  display: flex;
  flex-direction: column;
}

.faculty__text {
  margin-bottom: 16px;
}

.faculty__img {
  margin-right: 14px;
}

.faculty__main-wrap {
  margin-top: 55px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 61px;
  border-bottom: 1px solid #DCDCDC;
}

.faculty__bold {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.faculty__light {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.faculty__main-text {
  display: flex;
  flex-direction: column;
}

.faculty__btn {
  background: #0075FF;
  border-radius: 13px;
  padding: 21px 75px;
}

.faculty__rating {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.faculty__box {
  max-width: 600px;
}

.faculty__rating-items {
  display: flex;
  justify-content: right;
  margin-bottom: 140px;
}

.faculty__btn-link {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.freecourse__title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 68px;
  color: #000000;
}

.freecourse__wrap {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  border: 1px solid #DCDCDC;
  border-radius: 10px;
}

.freecourse__btn {
  background: #0075FF;
  border-radius: 13px;
  padding: 30px;
}

.freecourse__text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 142.5%;
  color: rgba(0, 0, 0, 0.33);
  padding: 28px;
  padding-left: 32px;
}

.freecourse__table {
  margin-top: 34px;
}

.footer__wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 107px;
}

.footer__list {
  display: flex;
  align-items: center;
}

.footer__item:not(:last-child) {
  margin-right: 15px;
}

.footer__nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 33px;
  border-bottom: 1px solid #D9D9D9;
}

.footer__nav-list {
  display: flex;
  margin-bottom: 33px;
}

.footer__nav-item:not(:last-child) {
  margin-right: 30px;
}

.footer__up {
  display: flex;
  align-items: center;
}

.footer__nav-link {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 142.5%;
  color: #000000;
}

.footer__up-link {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 142.5%;
  color: #000000;
}

.footer__up-img {
  margin-left: 9px;
}

.footer__last {
  display: flex;
  justify-content: space-between;
}

.footer__last-link {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 142.5%;
  color: #000000;
}

.footer__last-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 142.5%;
  color: rgba(0, 0, 0, 0.3);
}

.footer__last-link {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 142.5%;
  color: #000000;
}

.footer__last-link:not(:last-child) {
  margin-right: 46px;
}

.footer__last {
  padding-bottom: 35px;
}

.blog {
  margin-bottom: 125px;
}

.blog__wrapper {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}

.blog__wrap {
  display: flex;
  justify-content: space-between;
}

.blog__title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  color: #000000;
}

.blog__img {
  margin-top: 38px;
  margin-bottom: 17px;
}

.blog__title-link {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 129.9%;
  color: #0075ff;
}

.blog__link-items {
  display: flex;
  align-items: center;
  margin-top: 12px;
}

.blog__icon {
  margin-left: 9px;
}

.blog__name {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 12px;
}

.col-3 {
  width: 24%;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.directions {
  background: #ffffff;
  border: 1px solid #dcdcdc;
  box-sizing: border-box;
  box-shadow: 0px 0px 38px rgba(0, 0, 0, 0.05);
  border-radius: 37px;
  padding: 30px 45px;
}

.directions__title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 68px;
  color: #000000;
  margin-bottom: 30px;
}

.directions__row {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.directions-item {
  background: rgba(0, 0, 0, 0.03);
  border-radius: 19px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 15px 30px;
  box-sizing: border-box;
  margin: 15px;
  height: 203px;
}

.directions-item__img {
  height: 180px;
}

.directions-item__amount {
  background: rgba(67, 197, 158, 0.19);
  border-radius: 11px 11px 11px 0px;
  color: #43c59e;
  padding: 0 10px;
  display: inline-block;
  margin-bottom: 11px;
  font-size: 14px;
}

.directions-item__box {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 68px;
  color: #000000;
}

.header {
  color: #000;
}

.header__content {
  margin-top: 38px;
  padding-bottom: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__list {
  display: flex;
  align-items: center;
  align-items: center;
}

.header__list :last-child {
  margin-right: 0;
}

.header__item {
  margin-right: 43px;
}

.header__item a {
  display: inline-block;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 34px;
  color: #000;
}

.header-activ {
  border: 1px solid #0075ff;
  box-sizing: border-box;
  border-radius: 70px;
  padding: 14px 32px;
  display: flex;
  align-items: center;
}

.header-activ a {
  margin-right: 8px;
}

.header__nav-link {
  margin-top: 20px;
  max-width: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__nav-link a {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 142.5%;
  color: #0075ff;
}

.hero {
  position: relative;
  margin-bottom: 124px;
}

.hero__img {
  position: absolute;
  z-index: -3;
  top: -25%;
  right: 0;
  width: 40%;
  max-height: 1000%;
}

.hero__content {
  max-width: 530px;
  margin-top: 67px;
}

.hero__title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 68px;
  color: #000;
  line-height: 68px;
}

.hero__text {
  margin-top: 30px;
  max-width: 425px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 142.5%;
  color: #000000;
}

.hero__bot {
  margin-top: 45px;
  display: flex;
  align-items: center;
}

.hero__bot button {
  padding: 24px 44px;
  background: #0075ff;
  border-radius: 70px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 142.5%;
  /* identical to box height, or 23px */
  color: #ffffff;
}

.hero__bot span {
  margin-left: 20px;
  max-width: 164px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 19px;
  display: inline-block;
  color: #000000;
}

.hero__bot span a {
  color: #0075ff;
}

.email {
  margin-top: 100px;
  height: 100vh;
}

.email__content {
  background: #ffffff;
  border: 1px solid #dcdcdc;
  box-sizing: border-box;
  box-shadow: 0px 0px 38px rgba(0, 0, 0, 0.05);
  border-radius: 31px;
  display: flex;
  justify-content: space-between;
}

.email__left {
  max-width: 50%;
  margin: 46px 46px;
}

.email__title {
  max-width: 411px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 44px;
  text-transform: uppercase;
  color: #000000;
}

.email__span {
  background: rgba(67, 197, 158, 0.19);
  border-radius: 11px 11px 11px 0px;
  color: #43c59e;
  padding: 14px 12px;
  display: inline-block;
  margin-bottom: 11px;
  font-size: 14px;
  max-width: 322px;
}

.email__form {
  display: flex;
  align-items: center;
  margin-top: 70px;
  border-radius: 14px;
  background: #dddcdc;
}

.email__form input {
  padding: 21px 10px 21px 21px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.42);
  background: #dddcdc;
  border-radius: 14px;
}

.email__form button {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background: #0075ff;
  border-radius: 14px;
  padding: 21px 40px;
}

.email__img {
  max-width: 50%;
}

.email__img img {
  width: 100%;
  height: 100%;
}

.email__span-red {
  background: rgba(239, 71, 111, 0.19);
  border-radius: 11px 11px 11px 0px;
  color: #ef476f;
  padding: 14px 12px;
  display: inline-block;
  margin-bottom: 11px;
  font-size: 14px;
  max-width: 322px;
  margin-top: 40px;
}

.email__btn {
  display: flex;
  align-items: center;
  padding: 22px 40px;
  background: #0075ff;
  border-radius: 0px 11px 11px 11px;
}

.email__btn a {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 142.5%;
  color: #ffffff;
}

.email__btn img {
  margin-left: 10px;
}

.header {
  color: #000;
}

.header__content {
  margin-top: 38px;
  padding-bottom: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__list {
  display: flex;
  align-items: center;
  align-items: center;
}

.header__list :last-child {
  margin-right: 0;
}

.header__item {
  margin-right: 43px;
}

.header__item a {
  display: inline-block;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 34px;
  color: #000;
}

.header-activ {
  border: 1px solid #0075ff;
  box-sizing: border-box;
  border-radius: 70px;
  padding: 14px 32px;
  display: flex;
  align-items: center;
}

.header-activ a {
  margin-right: 8px;
}

.header__nav-link {
  margin-top: 20px;
  max-width: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__nav-link a {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 142.5%;
  color: #0075ff;
}

body {
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.col-6 {
  width: 50%;
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  font-size: 28px;
}
