@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import './footer';

@import "./components/zero";
@import "./mixins/mixins";

@import "./section/header";

body {
   font-family: "Montserrat", sans-serif;
}
.container {
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 15px;
}
