.header {
   color: #000;
   &__content {
      margin-top: 38px;
      padding-bottom: 18px;
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
   &__list {
      display: flex;
      align-items: center;
      align-items: center;
      :last-child {
         margin-right: 0;
      }
   }
   &__item {
      margin-right: 43px;
      a {
         display: inline-block;
         @include font(16px, 400);
         color: #000;
      }
   }
   &-activ {
      border: 1px solid #0075ff;
      box-sizing: border-box;
      border-radius: 70px;
      padding: 14px 32px;
      display: flex;
      align-items: center;
      a {
         margin-right: 8px;
      }
   }
   &__nav-link {
      margin-top: 20px;
      max-width: 150px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      a {
         font-family: Montserrat;
         font-style: normal;
         font-weight: normal;
         font-size: 16px;
         line-height: 142.5%;
         color: #0075ff;
      }
   }
}
